@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-color: #e17436;
  --border-color: #b74200;
}

body,
p {
  margin: 0;
  padding: 0;
}

/* ---------- */
.main .text {
  font-family: "KBO-Dia-Gothic_bold";
  color: white;
  font-size: 50px;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ears {
  display: flex;
  justify-content: space-around;
  top: 200px;
}

.ear {
  width: 250px;
  height: 220px;
  position: relative;
  background-color: white;
  border: 3px solid black;
  border-radius: 30%;
  box-shadow: 0px 3px 14px 3px black;

  animation: ears-moving 2s ease infinite alternate;
}

@keyframes ears-moving {
  from {
    transform: rotate(0);
    transition: transform 1s;
  }

  50% {
    transform: rotate(5%);
    transition: transform 1s;
  }

  to {
    transform: rotate(10%);
    transition: transform 1s;
  }
}

.ear.left {
  top: 140px;
  left: -70px;
  transform: rotate(20deg);
}

.ear.right {
  top: 140px;
  left: 70px;
  transform: rotate(-20deg);
}

.inside-ear {
  width: 160px;
  height: 150px;
  position: relative;
  background-color: black;
  border-radius: 30%;
}

.inside-ear.left {
  position: relative;
  top: 45px;
  left: 50px;
}

.inside-ear.right {
  position: relative;
  top: 45px;
  left: 40px;
}

.face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 520px;
  border-radius: 50% 50% 40% 40%;
  background-color: var(--main-color);
  border: 3px solid var(--border-color);
  box-shadow: 0px 3px 14px 3px #b7420063;
  z-index: 10;
}

.inside-face {
  position: relative;
  width: 330px;
  height: 230px;
  background-color: white;
  border-radius: 50% 50% 50% 50%;
}

.eyes {
  position: relative;
  top: 50px;
  display: flex;
  gap: 40px;
  z-index: 30;
}

.brow img {
  width: 80%;
}

.brows {
  display: flex;
  gap: 10px;
}

.brow {
  position: relative;
  left: 10px;
  top: 60px;
}

.eye {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
}

.eyes:hover {
  animation: eyes-scale 1s ease infinite alternate;
}

@keyframes eyes-scale {
  from {
    transform: scale(1.1);
    transition: transform 0.4s;
  }

  to {
    transform: scale(1.3);
    transition: transform 0.4s;
  }
}

.pupil1 {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;

  animation: pupil-scale 0.7s ease infinite alternate;
}

@keyframes pupil-scale {
  from {
    transform: scale(0.8);
    transition: transform 1s;
  }

  50% {
    transform: scale(1);
    transition: transform 1s;
  }

  to {
    transform: scale(0.9);
    transition: transform 1s;
  }
}

.pupil1.left {
  position: relative;
  top: 3px;
  left: 30px;
}

.pupil1.right {
  position: relative;
  top: 3px;
  left: 10px;
}

.pupil2 {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;

  animation: pupil-scale 0.7s ease infinite alternate;
}

.pupil2.left {
  position: relative;
  top: 4px;
  left: 12px;
}

.pupil2.right {
  position: relative;
  top: 4px;
  left: 32px;
}

.cheeks {
  display: flex;
}

.cheek {
  width: 80.274px;
  height: 160px;
  border-radius: 30% 50% 50% 30%;
  background-color: white;
  z-index: 100;
}

.cheek.left {
  position: relative;
  top: -330px;
  left: -170px;
  transform: rotate(-135deg);
}

.cheek.right {
  position: relative;
  top: -330px;
  left: 170px;
  transform: rotate(-45deg);
}

.nose {
  margin: auto;
  width: 50px;
  height: 35px;
  background-color: black;
  border-radius: 50%;

  position: relative;
  top: 30px;
}

.mouth img {
  position: relative;
  width: 25%;
  top: -25px;
  left: 125px;
}

.mouth img:nth-child(2) {
  opacity: 0;
  display: inline-block;
  position: relative;
  width: 25%;
  top: 26px;
  left: 37px;
}

.mouth img:nth-child(2):hover {
  opacity: 100%;
  transition: opacity 1s;
}
